* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, helvetica, sans-serif;
}


h1, p {
    color: blue;
    font-size: 2em;

}

.pimiento{
    color: red;
    font-size: 1.5em;
    font-weight: bold;
}